@model Lingsearcher.ViewModels.AccountLoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account"))
{
    if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @Html.ValidationSummary(true, "Errors: ")
        </div>
    }

    @Html.EditorForModel()
    <br />
    @Html.ActionLink("Forgot password?", "ForgotPassword")
    <br />
    @Html.Raw("Don’t have an account? ") @Html.ActionLink("Sign Up", "Register", "Account")

    <br />
    <input type="submit" value="Login" class="btn btn-default" />
}

