
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Lingsearcher.Entity

<h2>Index</h2>
<script>
    $(document).ready( function () {
        $('#allProducts').DataTable();
    });
</script>

<a href="/Product/Create">Create</a>

<table id="allProducts" class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    @foreach(Product item in ViewBag.AllProducts)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td><a href="@Url.Action("Edit", "Product", new { id = item.Id})"><i style="color:black;" class="fas fa-pencil-alt"></i></a></td>
            <td><a href="@Url.Action("Delete", "Product", new { id = item.Id })"><i style="color:black;" class="fas fa-eraser"></i></a></td>
        </tr>
    }
</table>
