@model Lingsearcher.ViewModels.SearchProductsViewModel
@{
    ViewBag.Title = "ListProductsCompare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNet.Identity
<h2>ListProductsCompare</h2>

<script>
    $(document).ready(function () {
        $('#listProductsCompare').DataTable();
    });
</script>

<table id="listProductsCompare" class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Store</th>
            <th>Price range</th>
            <th>Go</th>
        </tr>
    </thead>
    @foreach (var item in Model.ProductsAPI)
    {
        <tr>
            <td><a href="@item.ProductUrl"><img src="~/App_Data/@Model.ImageSrc" alt="Product Image" width="150px" height="150px" /></a></td>
            <td>@Model.NameProduct</td>
            <td>@item.Store</td>
            <td>@item.Currency @item.PriceRange</td>
            <td><a href="@item.ProductUrl" class="btn btn-info">Go to store</a></td>
        </tr>
    }
</table>

<hr />
@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <form action="/Product/ListProductsCompare" method="post">
                    <h3>Create alert price.</h3>
                    <h5>How much do you want pay?</h5> R$<input type="number" name="MinPrice" id="MinPrice" class="form-control">
                    <h5>Maximum number of notification emails</h5> <input type="number" max="100" name="MaxNumberNotifications" id="MaxNumberNotifications" class="form-control">
                    <br />
                    <input type="text" name="IdProduct" value="@Model.IdProduct" style="display:none;">
                    <input type="text" name="UserApplicationId" value="@User.Identity.GetUserId()" style="display:none;">
                    <input type="submit" class="btn btn-success" value="Create Alert">
                </form>
            </div>
        </div>
    </div>
}